# Assignment 2: Milestone I Natural Language Processing
## Task 1. Basic Text Pre-processing
#### Student Name: Jidhin Poulose
#### Student ID: s4023503


Environment: Python 3 and Jupyter notebook

Libraries used: please include all the libraries you used in your assignment, e.g.,:
* pandas
* re
* numpy

## Introduction
You should give a brief information of this assessment task here.

<span style="color: red"> Note that this is a sample notebook only. You will need to fill in the proper markdown and code blocks. You might also want to make necessary changes to the structure to meet your own needs. Note also that any generic comments written in this notebook are to be removed and replace with your own words.</span>

## Importing libraries

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
# Code to import libraries as you need in this assessment, e.g.,
import pandas as pd
import numpy as np
from nltk import RegexpTokenizer
from nltk.tokenize import sent_tokenize
from itertools import chain
from collections import Counter

from nltk.probability import *
from itertools import chain

import csv

### 1.1 Examining and loading data
- Examine the data and explain your findings
- Load the data into proper data structures and get it ready for processing.

In [ ]:
# Read the csv file
data = pd.read_csv('assignment3.csv')

In [ ]:
data.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
1,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
2,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
3,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses
4,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Tops,Knits

In [ ]:
data['Review Text']

0        I had such high hopes for this dress and reall...
1        I love, love, love this jumpsuit. it's fun, fl...
2        This shirt is very flattering to all due to th...
3        I love tracy reese dresses, but this one is no...
4        I aded this in my basket at hte last mintue to...
                               ...
19657    I was very happy to snag this dress at such a ...
19658    It reminds me of maternity clothes. soft, stre...
19659    This fit well, but the top was very see throug...
19660    I bought this dress for a wedding i have this ...
19661    This dress in a lovely platinum is feminine an...
Name: Review Text, Length: 19662, dtype: object

### 1.2 Pre-processing data
Perform the required text pre-processing steps.

Function for Tokenization

In [ ]:
def tokenizeReview(review):

    # segament into sentences
    sentences = sent_tokenize(review)

    pattern = r"[a-zA-Z]+(?:[-'][a-zA-Z]+)?"
    # Tokenize using the specified regex
    tokenizer = RegexpTokenizer(pattern)
    token_lists = [tokenizer.tokenize(sen) for sen in sentences]

    # merge them into a list of tokens
    tokenised_review = list(chain.from_iterable(token_lists))
    return tokenised_review

Function to print the stats of the processed reviews

In [ ]:
def stats_print(tk_reviews):
    words = list(chain.from_iterable(tk_reviews)) # we put all the tokens in the corpus in a single list
    vocab = set(words) # compute the vocabulary by converting the list of words/tokens to a set, i.e., giving a set of unique words
    lexical_diversity = len(vocab)/len(words)
    print("Vocabulary size: ",len(vocab))
    print("Total number of tokens: ", len(words))
    print("Lexical diversity: ", lexical_diversity)
    print("Total number of reviews:", len(tk_reviews))
    lens = [len(article) for article in tk_reviews]
    print("Average review length:", np.mean(lens))
    print("Maximun review length:", np.max(lens))
    print("Minimun review length:", np.min(lens))
    print("Standard deviation of review length:", np.std(lens))

In [ ]:
len(data['Review Text'])

19662

In [ ]:
data['Review Text'].head(10)

0    I had such high hopes for this dress and reall...
1    I love, love, love this jumpsuit. it's fun, fl...
2    This shirt is very flattering to all due to th...
3    I love tracy reese dresses, but this one is no...
4    I aded this in my basket at hte last mintue to...
5    I ordered this in carbon for store pick up, an...
6    I love this dress. i usually get an xs but it ...
7    I'm 5"5' and 125 lbs. i ordered the s petite t...
8    Dress runs small esp where the zipper area run...
9    More and more i find myself reliant on the rev...
Name: Review Text, dtype: object

### **Step 3: Lower case**

In [ ]:
for i in range(len(data['Review Text'])):
    data.loc[i, 'Review Text'] = data.loc[i, 'Review Text'].lower()

In [ ]:
data['Review Text'].head(10)

0    i had such high hopes for this dress and reall...
1    i love, love, love this jumpsuit. it's fun, fl...
2    this shirt is very flattering to all due to th...
3    i love tracy reese dresses, but this one is no...
4    i aded this in my basket at hte last mintue to...
5    i ordered this in carbon for store pick up, an...
6    i love this dress. i usually get an xs but it ...
7    i'm 5"5' and 125 lbs. i ordered the s petite t...
8    dress runs small esp where the zipper area run...
9    more and more i find myself reliant on the rev...
Name: Review Text, dtype: object

### **Step 2: Tokenization**

In [ ]:
tk_reviews = [tokenizeReview(r) for r in data['Review Text']]

In [ ]:
print("Tokenized review:\n",tk_reviews[1])

Tokenized review:
 ['i', 'love', 'love', 'love', 'this', 'jumpsuit', "it's", 'fun', 'flirty', 'and', 'fabulous', 'every', 'time', 'i', 'wear', 'it', 'i', 'get', 'nothing', 'but', 'great', 'compliments']

In [ ]:
stats_print(tk_reviews)

Vocabulary size:  14806
Total number of tokens:  1206688
Lexical diversity:  0.012269948818584423
Total number of reviews: 19662
Average review length: 61.37157969687723
Maximun review length: 113
Minimun review length: 2
Standard deviation of review length: 27.802596969841698

### **Step 4: Remove words with a length less than 2.**

In [ ]:
tk_reviews = [[w for w in review if len(w) >=2] for review in tk_reviews]

In [ ]:
print("Tokenized review:\n",tk_reviews[1])

Tokenized review:
 ['love', 'love', 'love', 'this', 'jumpsuit', "it's", 'fun', 'flirty', 'and', 'fabulous', 'every', 'time', 'wear', 'it', 'get', 'nothing', 'but', 'great', 'compliments']

In [ ]:
stats_print(tk_reviews)

Vocabulary size:  14780
Total number of tokens:  1109634
Lexical diversity:  0.013319707218776641
Total number of reviews: 19662
Average review length: 56.43545926151968
Maximun review length: 104
Minimun review length: 2
Standard deviation of review length: 25.39546596696992

### **Step 5: Remove stopwords**

In [ ]:
with open('stopwords_en.txt', 'r') as f:
    stopwords = set(f.read().splitlines())

In [ ]:
# filter out stop words
tk_reviews = [[w for w in review if w not in stopwords] for review in tk_reviews]

In [ ]:
stats_print(tk_reviews)

Vocabulary size:  14283
Total number of tokens:  452692
Lexical diversity:  0.031551253390826435
Total number of reviews: 19662
Average review length: 23.023700539110976
Maximun review length: 51
Minimun review length: 1
Standard deviation of review length: 10.165913222944233

### **Step 6: Remove the word that appears only once**

In [ ]:
# Count word frequencies across all documents
word_freq = Counter([word for review in tk_reviews for word in review])

In [ ]:
# Words that are removed
single_words = [[word for word in review if word_freq[word] <= 1] for review in tk_reviews]

In [ ]:
single_words[1:5]

[[],
 [],
 ['narrowing'],
 ['aded',
  'mintue',
  'darkler',
  'mathced',
  'everythiing',
  'msallet',
  'jkeep',
  'matvehd',
  'waas']]

In [ ]:
# Remove words that appear only once
tk_reviews = [[word for word in review if word_freq[word] > 1] for review in tk_reviews]

In [ ]:
stats_print(tk_reviews)

Vocabulary size:  7549
Total number of tokens:  445958
Lexical diversity:  0.016927603047820646
Total number of reviews: 19662
Average review length: 22.681212491099583
Maximun review length: 51
Minimun review length: 1
Standard deviation of review length: 9.958115518909024

### **Step 7: Remove the top 20 most frequent words based on document frequency.**

In [ ]:
words_doc = list(chain.from_iterable([set(review) for review in tk_reviews]))
doc_fd = FreqDist(words_doc)
doc_fd.most_common(20)

[('love', 6416),
 ('size', 5888),
 ('fit', 5537),
 ('dress', 5346),
 ('wear', 4900),
 ('top', 4670),
 ('great', 4497),
 ('fabric', 3712),
 ('color', 3604),
 ('small', 3265),
 ('ordered', 3099),
 ('perfect', 2973),
 ('flattering', 2939),
 ('soft', 2805),
 ('comfortable', 2597),
 ('back', 2538),
 ('cute', 2398),
 ('fits', 2394),
 ('nice', 2393),
 ('bought', 2376)]

In [ ]:
top_20 = set([word for word, _ in doc_fd.most_common(20)])

In [ ]:
tk_reviews = [[word for word in review if word not in top_20] for review in tk_reviews]

In [ ]:
stats_print(tk_reviews)

Vocabulary size:  7529
Total number of tokens:  355505
Lexical diversity:  0.021178323792914306
Total number of reviews: 19662
Average review length: 18.080815786796865
Maximun review length: 47
Minimun review length: 0
Standard deviation of review length: 8.833524535391433

In [ ]:
tk_reviews[1]

['jumpsuit', 'fun', 'flirty', 'fabulous', 'time', 'compliments']

## Saving required outputs
Save the requested information as per specification.
- vocab.txt

In [ ]:
# Create vocabulary
vocab = sorted(set([word for review in tk_reviews for word in review]))

In [ ]:
# Save vocabulary
with open('vocab.txt', 'w') as f:
    for i, word in enumerate(vocab):
        f.write(f"{word}:{i}\n")

In [ ]:
data['Processed_Review'] = [' '.join(review) for review in tk_reviews]

In [ ]:
# Save processed data
data.to_csv('processed.csv', index=False, quoting=csv.QUOTE_ALL)

## Summary
I have preprocessed all the reviews as per the requirement. I have used the libraries used in the class for the preprocessing. I have used the library Counter to count the term frequency